<div class="container">
    <div class="row">
        <div class="col-3 offset-9 mt-3">
            <input
              [(ngModel)] = "phrase"
              type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th *ngFor="let col of cols">{{ col.text }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList$ | async | filter:key:phrase">
                        <td *ngFor="let col of cols">
                            <input *ngIf = "col.editable"  [(ngModel)]="user[col.key]" type="text" class="form-control">
                            <!-- <input [(ngModel)]="user[col.key]" [readonly] = "!col.editable" type="text" class="form-control"> -->
                            <span *ngIf = "!col.editable" type="text" class="form-control">{{ user[col.key]}}</span>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-info"
                                    (click) = "onUpdate(user)">
                                    <i class="fa fa-refresh"></i>
                                </button>
                                <button class="btn btn-danger"
                                    (click) = "onDelete(user)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
